/* look and feel */

body {
    background:turquoise;
    color:black;
    font-smooth: never;
-webkit-font-smoothing : none;
}



/* a {
    color:#0A0;
    text-decoration: underline;
} 

a:hover {
    text-decoration: none;
}
*/

/* button effects */
a {
    background: #ddd;
    padding: 2px;
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 4px;
    border-color:white #444 #444 white;
    border-width: 2px;
    border-style: solid;
    padding: 2px 9px;

    font-family: Arial;
    font-size: 12px;
    font-weight: 200;
    cursor: default;
}

   a:active {
    border-color: #444 white white #444;
   }

h1 {
    letter-spacing: 5px;
    font-style: italic;
    text-shadow: #888 9px 4px;
    font-size: 50px;
}


body {
    font-family: "Times New Roman","Arial";

}
code {
    font-family: "Comic Sans Ms","Times New Roman";
}


/* table */

dl {
    display: flex;
    flex-wrap: wrap;
    position:  relative;
    border-style: solid;
    margin-top: 30px;
    padding:  2px;
    border-color: #eee black black #eee;
    border-width: 1px;
}


dt {
    font-weight: bold;
}

dt,dd {
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-color: black white white black;
    padding: 3px;
    margin: 1px;

    width: calc(50% - 2px);
    font-size: 16px;
}




.accordion-content {
    margin:20px;
    display: block;
}

/* window */
.company {
    background: #ccc;
    display: block;
    border-width: 2px;
    border-color: white black black white;
    border-style: solid;
}

/* title bar */
.title {
    /* text-transform: uppercase; */
    /* background: white; */
    margin:  1px;
    background: #0000bb;
    display: block;
    padding: 3px 9px;
    color: white;
    font-weight: bold;
    font-family: Arial;
    font-size: 13px;
    letter-spacing: 0.4px;
    position: relative;
}

/* x button */
input[type=checkbox] {
    display: none;

}

.title:after {
    position: absolute;
    right: 0;
    display: block;
    content: "X";
    line-height: 100%;
    padding: 0 4px;
    background: #eee;
    z-index: 1;
    top: 0;
    bottom: 0;
    margin: 2px;
    color: black;
    border-width: 2px;
    border-style: solid;
    border-color: white black black white;
    cursor: pointer;
}

/* hr */

header.name:after {
    display: block;
    width: 100%;
    content:  " ";
    height: 1px;
    /* background: brown; */
    border-width: 1px;
    border-style: solid;
    border-color: #aaa white white #aaa;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 1px;
}

code .markup {
    position: relative;
    animation:scroll 15s linear infinite;
}

@keyframes scroll {
    0% {left: 0vw;}
    50% {left: 100vw;}
    100% { left: 0vw;}
}

/* inputs */
.hash {
background: white;
padding: 2px 1px;
box-sizing: border-box;
border-style: solid;
border-width: 2px;
border-color: #666 white white #666;

font-family: Arial;

font-size: 12px;
}

.hash{
    display: inline-block;
    position: relative;
    overflow: hidden;
    min-width: 170px;   
    text-align: center;
}

.js-request-pi + .hash:after {
    position:  absolute;
    background: yellow;
    width: 100%;
    height: 100%;
    content: " ";
    left: 0;
    animation:progress 2s linear infinite;
    top: 0;
    transform: translateX(-100%);
    mix-blend-mode: exclusion;
    color: blue;
    opacity: 1;

}

.js-request-pi.js-request-finished + .hash:after {
    transform: translateX(0%);
    opacity: 0;
}

@keyframes progress {
    0% {    transform: translateX(-100%);}

    100% {transform: translateX(0%);}
}